<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weblog.mapper.BaseUserMapper">
    <resultMap id="BaseResultMap" type="com.domain.model.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_name" property="username" jdbcType="VARCHAR" />

    </resultMap>

    <select id="getUserById" resultMap="BaseResultMap" parameterType="integer">
        SELECT * FROM USER WHERE id = #{userId}
    </select>

</mapper>